@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

html {
  font-size: 62.5%; /* Agora 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEECF3;
  font-family: "DM Sans", sans-serif;
}

header {
  color: #000;
}

.nav {
  background-color: #eb6608;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 2rem;
}

.infos a,
.redes-sociais a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
}

.infos span,
.redes-sociais span {
  margin: 0 0.5rem;
}

.brasao-branco {
  width: 2.5rem;
}

.sec-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 12rem;
  border-bottom: 1px solid #eee;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img,
.middle-header img {
  height: 5rem;
  margin-right: 1rem;
}

.top-bar {
  background-color: #eb6608;
  color: white;
  font-size: 1.4rem;
}

.top-bar a {
  color: white;
  text-decoration: none;
  margin: 0 0.8rem;
}

.nav-link {
  font-weight: 600;
  font-size: 2rem;
  margin-right: 3rem;
}

.container-blocos {
  font-size: 1.6rem;
  margin: 4rem auto;
  max-width: 110rem;
}

.lh-xl {
  line-height: 2.5;
}

.brasao-footer {
  height: 3.5rem;
  margin-right: 5rem;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.program-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.program-box {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1.2rem;
  height: 25rem;
  box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.program-box:hover {
  transform: scale(1.05);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.container {
  font-size: 1.6rem;
}

.texto-menor,
span {
  font-size: 1.2rem;
}

/* Button Acessibilidade */
.btn {
  margin-left: 0.8rem;
  border: none;
}

.btn button {
  border: 0.1rem solid #fff;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  margin: 0.2rem;
  text-align: center;
}

.dropdown-item {
  font-size: 2rem;
  transition: color 0.5s ease; /* Transição para mudar a cor dos itens */
}

.dropdown-item:hover {
  color: #eb6608;
}

/* Remove o background dos itens Órgãos Públicos e Servidores */
.bg-color:hover{
  background-color: transparent;
}

.dropdown .dropdown-menu {
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;
  display: block;
  transition: all 0.3s ease;
}

/* Mostra o dropdown com animação no hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(2);
  visibility: visible;
}

.dropdown-menu{
  background-color: #EEECF3;
  border-radius: 0px 0px 10px 10px;
  line-height: 4rem;
  border: none;
  transition: color 0.8s ease;
}

.dropdown-item-text {
  text-decoration: none;
  font-size: 1.6rem;
}

/* Coloca a borda na parte de baixo */
.border-bottom-text {
  position: relative;
  transition: color 0.8s ease;
}

.border-bottom-text::after {
  content: '';
  position: absolute;
  left: 10px; /* Desloca a borda para a direita */
  bottom: 0;
  width: calc(100% - 20px);
  border-bottom: 1px solid #d5d4d8;
}

.border-bottom-text:hover {
  color: #eb6608;
}

.divisor {
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 0;
  background-color: #fff;
  display: inline-block;
  align-items: center ;
}

.ajustado {
  height: 1.6rem;
  vertical-align: middle;
}

/* BOTÃO AJUDA */
#widget-ajuda {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 9999;
}

#caixa-ajuda {
  width: 300px;
  height: auto;
  max-height: 800px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9998;
  padding: 15px;
  font-size: 1.5rem;
  transition: height 0.3s ease-in-out;
  overflow: hidden; 
}

#caixa-ajuda.visivel{
  display: block;
}

/* Classe para expandir a caixa */
#caixa-ajuda.expanded {
  height: auto !important; 
}

#chatbot-container {
  margin-top: 15px; 
}

#caixa-ajuda h5 {
  font-weight: bold;
}

#botao-ajuda{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-ajuda input {
  margin-bottom: 10px;
}

#fechar-ajuda {
  position: absolute;
  top: -5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-size: 3rem;
}

.form-control {
  outline: none;
  font-size: 1.2rem;
}

.btn-orange {
  background-color: #eb6608;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: all 0.2s ease;
}

.btn-orange:hover {
  background-color: #fff;
  color: #eb6608;
  border: 1px solid #eb6608;
}


.text-area{
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.164);
  border-radius: 1rem;
  width: 100%;
  height: 10rem;
  font-size: 1.3rem;
  padding: 0.5rem 0 0 0.5rem;
}

input:disabled {
  cursor: not-allowed;
}




/* --------------------------------------------- Responsividade --------------------------------------------------- */
@media (max-width: 992px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 0;
    margin-bottom: 2rem;
  }

  .footer-container p {
    cursor: pointer;
  }
}

.dropdown-menu{
  background-color: #EEECF3;
  border-radius: 0px 0px 10px 10px;
  line-height: 4rem;
  border: none;
}

/* Botão ajuda */
@media (max-width: 425px){
  #widget-ajuda {
    position: fixed; /* Garante que permaneça fixo */
    left: 0;
    right: 0;
    width: 100%;
}

#botao-ajuda{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0rem;
  height: 6rem;
}

#caixa-ajuda {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto; 
    max-height: 100%; 
    border-radius: 0; 
    padding: 20px; 
    overflow-y: auto; 
}

}

@media (max-width: 375px){
  .texto-menor{
    font-size: 0.91rem;
  }
}
 



